sem marcacao
slides
Darrell Heff. 2016. Como Mentir Com Estatistica.pdf
Morettin, P; Bussab, W. 2017. Estatística Básica - 9a ed.pdf
Rawlings, et al. 1998. Applied Regression Analysis A Research Tool.pdf
Wooldridge - EN.pdf
Wooldridge - ES.pdf
Wooldridge - PT.pdf
